body {
	background:url(newback.jpg) no-repeat;
	background-size:cover;
    background-position:center;
	 backdrop-filter: blur(10px);  
	
}

.content p {
	font-size: 20px;
	font-weight:100px;
} 

.content h1 {
	font-family:'Times New Roman';
	font-size:40px;
	padding-left:10px;
	margin-top:1%;
	letter-spacing:2px;
}


.content .cn {
	width:160px;
	height:40px;
	background:#F9DB0F;
	border:none;
	margin-bottom:10px;
	margin-left:20px;
	font-size:18px;
	border-radius:10px;
	cursor:pointer;
	transition: .4s ease;
}
